body{
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  box-sizing: content-box;
  margin: 0px;
}

.background{
  position: fixed;
  min-width: 110vw;
  min-height: 110vh;
  top: -5vh;
  left: -5vw;
  filter: blur(3px);
  filter: brightness(50%);
  z-index: -1;
}

button {
  background-color: rgb(160, 0, 0);
  box-shadow: none;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover{
  background-color: rgb(120, 0, 0);
}

button:active{
  background-color: rgb(83, 0, 0);
}

/* BANNER */
.banner {
  background-color: rgb(17, 17, 17);
  padding-left: 30px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#refresh_button {
  font-size: 1.1em;
  padding: 10px 20px;
  font-weight: bold;
}

/* FILTERS */
#filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px;
  background-color: rgba(49, 49, 49, 0.932);
  padding: 7px;
}

#filters>*:not(.filter-search) {
  display: none;
  flex-direction: row;
  gap: 20px;
}

.filter-group{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: flex-start;
}

.filter-search{
  flex-grow: 1;
  display: flex;
  gap: 0px;
}

.filter-search input {
  width: auto;
  max-width: auto;
  flex-grow: 1;
  background-color: #1b1b1b;
  border: none;
  color: white;
  font-size: 1.5em;
  padding: 5px;
  border: 3px solid #fff0;
}

.filter-search input:focus{
  outline: none;
  border-color: #ffff;
}

.filters-main {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  align-self: stretch;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.button-area{
  margin-left: auto;
  justify-self: flex-end;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

#show_filters {
  display: block;
  background-color: #3d3d3d;
  font-size: 1.1em;
  padding: 0px 20px;
  box-shadow: inset 0 0 0 5px #1b1b1b;
}

#show_filters:hover {
  background-color: #2b2b2b;
}

#update_button{
  padding: 5px 10px;
  font-size: 1.1em;
}

#hide_filters {
  padding: 5px 10px;
  font-size: 1.1em;
  background: none;
  box-shadow: inset 0 0 0 2px white;
  margin-right: 6px;
}

#hide_filters:hover {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.712);
}

/* SERVERS */
#servers{
  box-sizing: content-box;
  padding: 0px;
  margin: 0px;
  display: block;
  overflow-y: scroll;
  max-height: 100%;
  width: 100%;
}

#servers>tbody{
  display: table;
  width: 100%;
  border-spacing: 0px 2px;
}

#servers:last-child{
  margin-bottom: 200px;
}

/* SERVER */
.server {
  background-color: rgba(0,0,0,0.8);
}

.server>*{
  vertical-align: middle;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.server-name {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.server:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.6);
}

.server-favourite{
  font-size: 1.8em;
  height: 100%;
  padding-left: 20px;
  padding-right: 10px;
}

.server-favourite-icon{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.server-favourite-icon:hover{
  color: #ddd;
}

.server-ip{
  margin-right: 20px;
}

/* CONDITIONS */
.conditions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 2em;
}
.conditions-icon {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conditions-variability {
  box-sizing: content-box;
  margin-top: 30px;
  margin-bottom: 30px;
  transform: rotate(270deg);
  width: 60px;
  height: 20px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
}
.conditions-variability::-webkit-progress-bar {
  background-color: rgba(0,0,0,0.1);
}

.conditions-variability::-webkit-progress-value {
  background-color: rgb(255, 198, 42);
}

.server-class {
  padding: 3px 7px;
  margin-top: 5px;
  justify-self: flex-start;
  min-width: 0px;
  width: fit-content;
  font-weight: 600;
}

.server-class.gt3{
  background-color: #464646;
  color: white;
}

.server-class.gt4{
  color: white;
  background-color: rgb(33, 40, 105);
}

.server-class.gtc{
  color: white;
  background-color: rgb(255, 136, 0);
}

.server-class.mixed{
  background-color: white;
  color: black;
}

.server-class.tcx{
  background-color: rgb(1, 135, 168);
  color: rgb(255, 255, 255);
}

.server-copy {
  font-size: 1.8em;
  height: 100%;
  padding-left: 20px;
  width:0.1%;
  white-space: nowrap;
}

.server-copy i {
  cursor: pointer;
}

/* SESSION */
.sessions{
  margin-right: 20px;
}

.session{
  display: inline-block;
  background-color: #494949;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-weight: 600;
  margin-bottom: 5px;
}

.session.active{
  background-color: #fafafa;
  color: black
}

/* UTILITIES */
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}

.grey-text {
  color: #aaa;
}

/* EXTRAS */
.flag * {
  max-height: 30px;
  max-width: 50px;
  font-size: 2em;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 5px;
}

.links .link{
  text-decoration: none;
  background-color: rgb(160, 0, 0);
  box-shadow: none;
  color: white;
  border: none;
  cursor: pointer;
  padding: 4px 10px;
}

.links .link:hover{
  background-color: rgb(120, 0, 0);
}

.links .link:active{
  background-color: rgb(83, 0, 0);
}


/* MODAL */
#modal_overlay {
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #494949;
  color: white;
}